<div class="content">
    <h2 class="content-head is-center">To Subscribe contact me.</h2>

    <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked">
                <fieldset>

                    <label for="name">Your Name</label>
                    <input id="name" type="text" placeholder="Your Name">


                    <label for="email">Your Email</label>
                    <input id="email" type="email" placeholder="Your Email">

                    <button type="submit" class="pure-button">Sign Up</button>
                </fieldset>
            </form>
        </div>

        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>Get in touch</h4>

            <p>
                If you have any questions, please feel free to drop me a line. If you don't get an answer immediately, I
                might just be travelling through the middle of nowhere. I'll get back to you as soon as possible.
            </p>

            <h4>Find Anoop elsewhere</h4>

            <p>

            </p>
        </div>
    </div>

</div>